//
@tailwind base;

@tailwind components;

@import "./variables";
@import "./animations";
::root {
    --primay-color: #4299e1;
    --text-color: #ffffff;
}
.circle {
    border-radius: 100%;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
*,
html {
    scroll-behavior: smooth;
}
.w-128 {
    width: 32rem;
}
.input {
    @apply shadow-sm appearance-none border border-gray-500 border-opacity-25 text-xs rounded w-full py-3 px-4 leading-tight transition-all ease-linear duration-75 delay-75;
    min-width: 30vw;
    &.is-invalid {
        @apply border-red-500;
    }
    & + div.invalid-feedback {
        @apply text-xs text-red-500;
    }
}
@media (screen and max-width: 768px) {
    .input {
        min-width: 80vw;
    }
}
.btn {
    @apply text-white text-xs bg-blue-500 py-2 px-4 rounded-full inline-block transition-all ease-linear duration-75 delay-75 text-center;
}
.btn:hover {
    @apply bg-white border-blue-500 text-blue-500;
}
.btn-outline {
    @apply text-blue-900 text-xs bg-white py-2 px-6 rounded-full border inline-block transition-all ease-linear duration-75 delay-75 text-center;
}
.btn-outline:hover,
.btn-outline:focus {
    @apply text-white text-sm bg-blue-500;
}
.input:hover,
.input:focus {
    @apply border border-blue-600;
    outline: none;
}

.text-shadow {
    text-shadow: 0px 0px 2px rgba(128, 130, 133, 0.5);
}
.bg-blue-deep {
    background-color: #0a1d35;
}

/******
* Scrollbar
*******/
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}
body::-webkit-scrollbar-thumb {
    background-color: #0c3c52;
    border-radius: 16px;
    border: 5px solid #fff;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    border: 4px solid #f4f4f4;
}
body::-webkit-scrollbar-button {
    display: none;
}

@import "~animate.css/animate.min.css";
@tailwind utilities;
